.home-container {
    background-image: url('../../assets/bg-home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    filter: brightness(100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 38%;
    border-radius: 30px;
  }